.footer {
    grid-row: 3/4;
    grid-column: 1/4;

    .footerContainer {
        width: 100%;
        margin: 0 auto;
        padding: 0.5em;
        max-width: 1300px;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: center;
    }

    .copywrite {

        p{
            font-size: 0.8em;
        }
    }
}