.galleryWrapper {
    width: 100%;
    padding: 1em 0.4em;
}

.galleryContainer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    flex-direction: column;
}

