.galleryWrapper {
    width: 100%;
    padding: 1em 0.4em;
}

.galleryContainer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
    display: grid;
    grid-template-columns: 100px 1fr 50px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.galleryNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 3/4;
    grid-column: 1/3;
    padding: 0.4em;
}