.hero {
    padding: 0.3em;
    margin-bottom: 100px;
}

.backing {
    border-radius: 5px;
    padding: 0.5em 2em;
    flex-flow: wrap row;
    background: rgb(252, 252, 252);
    display: grid;
    grid-template-rows: 1fr 100px;
    grid-template-columns: repeat(6, 1fr);
}

.imageHolder {
    grid-row: 1/2;
    grid-column: 1/7;
    justify-self: center;
    align-self: center;
}

.heroText{
    grid-column: 2/3;
    grid-column: 1/7;

    h2{
        display: inline;
        margin: 0;
    }

    span {
        padding-left: 5px;
        font-size: 1.2em;
        color: rgb(14, 7, 24);
    }
}