.hero {
    padding: 1em;
}

.backing {
    border-radius: 5px;
    padding: 1em 2em;
    display: flex;
    flex-flow: wrap row;
    background: rgb(252, 252, 252);
}

.imageHolder {
    width: 100%;
}