.article {
    width: 100%;
    max-width: 960px;
    margin: 50px auto;
    padding: 1em 0.5em;
    display: grid;
    grid-template-rows: 1fr 50px auto;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    font-size: 0.9em;
}

.imageHolder {
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

.titleHolder {
    grid-row: 2/3;
    grid-column: 1/4;
    padding: 10px 0;
}

.bodyCopy{
    grid-row: 3/4;
    grid-column: 1/4;
}

@media screen and (min-width: 1194px) {
    .titleHolder{
        grid-column: 1/2;
    }
}